@import "/src/variables.scss";

.header {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  padding: 2rem;
  color: $accent;
  box-sizing: border-box;

  &-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $accent;
  }
}
