<header class="header">
  <span>logo</span>
  <div class="header-links">
    <span>About</span>
    <span>Contact me</span>
    <button class="secondary">Login</button>
    <button class="secondary">register</button>
  </div>
</header>
<section class="container">
  <h1 class="title">TODO LIST</h1>
  <div class="form">
    <input class="input" type="text" name="" id="">
    <button class="add primary">Agregar</button>
  </div>
  <div class="tasks">
    <div class="task">
      <label for="check" class="task-content">
        <input type="checkbox" id="check">
        <span>task 1</span>
      </label>
      <button class="tertiary">Borrar</button>
    </div>
    <div class="task done">
      <label for="check2" class="task-content">
        <input type="checkbox" id="check2">
        <span>hacer compra</span>
      </label>
      <button class="tertiary">Borrar</button>
    </div>
  </div>
</section>
