@import "variables.scss";
@import "reset.scss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $accent;
  color: $primary;
}

.button {
  padding: 0.5rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color: $accent;

  &.secondary {
    background-color: $secondary;
  }

  &.primary {
    background-color: $primary;
  }

  &.tertiary {
    background-color: $tertiary;
  }
}
